@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

.App {
  text-align: center;
}

.header-pd {
  background-color: #282c34e8;
  text-align: left;
  width: 1100px;
  height: 30px;
  padding: 10px;
  margin-left: 80px;
  margin-top: 20px;
  color: white;
  font-size: large;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
}

.people-search {
  display: flex;
  border-bottom: 1.6px solid #e3e3e3;
  justify-content: space-between;
  margin-left: 82px;
  margin-right: 313px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
}

.people-search span {
  margin-left: 14px;
  font-weight: 700;
}

.search-wrapper {
  width: 160px;
  background: #e8e8e8c4;
  border-radius: 30px;
  height: 30px;
  margin-right: 15px;
  padding-left: 8px;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

.search-icon {
  color: #707070;
}

.business-icon {
  padding-top: 5px;
}

.search-wrapper input {
  height: 100%;
  padding: .5rem;
  border: none;
  outline: none;
  background: #e8e8e866;
  font-size: 11px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.search-wrapper ::placeholder {
  color: #ccc;
}

.main-card {
  display: flex;
  height: 80px;
  justify-content: space-between;
  border: 1.6px solid #e3e3e3;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: -6px;
  margin-left: 94px;
  margin-right: 316px;
  background: white;
}

.main-card img {
  height: 50px;
  border-radius: 50%;
}

.contact-picture {
  padding-top: 13px;
  padding-right: 20px;
}

.card-details {
  padding-left: 25px;
  text-align: left;

}

#contact-name {
  margin-bottom: -10px;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

#org-name {
  color: #707070cb;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 17px;
  background: #ececec;
  border-bottom: 1px solid #e3e3e3;
}

.close-icon {
  padding-right: 18px;
  color: grey;
}

.close-icon:hover {
  color: darkgray;
}

#simple-modal-title {
  font-size: 15px;
  padding-right: 10px;
  font-family: 'Open Sans', sans-serif;
}

#simple-modal-description {
  flex-direction: column;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 9px;
  font-family: 'Open Sans', sans-serif;
}

#simple-modal-description img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

#simple-modal-description p {
  border-bottom-style: inset;
  margin-left: 16px;
  margin-right: 18px;
}

.contact-table {
  display: flex;
  text-align: center;
  flex-direction: row;
  padding-bottom: 60px;
  border-bottom: 1px solid darkgray;
}

.contact-groups {
  padding-left: 30px;
  text-align: end;
  font-size: 13px;
  color: grey;
  font-family: 'Open Sans', sans-serif;
}

.contact-details {
  padding-left: 34px;
  text-align: start;
  font-size: 13px;
  color: rgb(0 0 0 / 20%);
}

.contact-table-footer {
  background: #ececec;
  padding-top: 10px;
  padding-bottom: 10px
}

#phone-color {
  color: #0ad80a87;
}

.back-btn {
  width: 78px;
  margin-left: 210px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 600;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.delete-btn {
  width: 78px;
  margin-left: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 600;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.delete-btn:hover {
  color: crimson;
}

.load-div {
  text-align: center;
}

.load-btn {
  width: 100px;
  height: 38px;
  border: 2px solid #ececec;
  margin-top: 20px;
  padding-top: 4px;
  padding-bottom: 2px;
  font-weight: 600;
  background: white;
  margin-right: 160px;
}

.load-btn:hover {
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.footer {
  background-color: #ececec;
  text-align: left;
  width: 1130px;
  height: 45px;
  margin-left: 80px;
  margin-top: 12px;
  margin-bottom: 20px;
}

.add-person-btn {
 width: fit-content;
 height: fit-content;
 padding: 5px;
 background: white;
 color: darkgray;
 border: 2px solid #ececec;
 border-radius: 5px;
}

.add-person-btn:hover {
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.2);
  font-weight: 600;
}

.standard-basic {
  margin-bottom: 6px;
}

.create-person-btn {
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  margin-left: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 600;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.2);
}

.create-person-btn:hover {
  color: #036bb1;
  border-color: #036bb1;
}

.create-back-btn {
  width: 78px;
  height: fit-content;
  margin-left: 175px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 600;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.input-field {
  border: none;
  margin-top: 15px;
  border-bottom: 1.6px solid #e3e3e3;;
}